In [1]:
import pandas as pd
import numpy as np

In [17]:
# read in the data
news1 = pd.read_csv('data/articles1.csv')
news2 = pd.read_csv('data/articles2.csv')
news3 = pd.read_csv('data/articles3.csv')

In [19]:
# get the columns of interest
columns = ['id', 'title', 'content']
# subset with relevant columns
news1 = news1[columns]
news2 = news2[columns]
test = news3[columns]
# 
train_data = pd.concat([news1, news2])

print(f'\nOur training set has {train_data.shape[0]} documents in it')
print(f'\nOur test set has {test.shape[0]} documents in it\n')
print(f'Total number of rows in articles 1 and articles 2 is {news1.shape[0] + news2.shape[0]} rows')

Our training set has 99999 documents in it

Our test set has 42571 documents in it

Total number of rows in articles 1 and articles 2 is 99999 rows

In [16]:
# visual inspection of the data
train_data.head()

,id,title,content
0,17283,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...
1,17284,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood..."
2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri..."
3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t..."
4,17287,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ..."

In [21]:
# save into a csv for easy use and loading
train_data.to_csv('train_data.csv', index=False)
test.to_csv('test_data.csv', index=False)